@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..700&family=Exo:wght@100..700');

header {
    margin: 0;
}

.logo {
    background: url("../images/something.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}